# Ignore the pycaches
__pycache__

# Ignore all .jpg's except in the Posters folder
*.jpg
!/Posters/*.jpg

# Ignore all .txt's not in Documentation
*.txt
!/Documentation/*.txt

# Ignore stuff in zip file
Code/Development/DiscoveryOne/Data.7z

# Ignore all of the parse data
Action.*
Adventure.*
Comedy.*
Crime.*
Drama.*
Fantasy.*
Film-Noir.*
Horror.*
Mystery.*
Romance.*
Sci-Fi.*
War.*

# Ignore .pdfs
*.pdf




